/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_fi.h"
#include "keys_osx_fi.h"

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define MAC     4
#define MACLOW  5
#define MACRAI  6
#define GAME    7

#define HYPR(KC) LC(LS(LA(LG(KC))))

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";

                tri_layer {
                        if-layers  = <LOWER RAISE>;
                        then-layer = <ADJUST>;
                };

                mac_tri_layer {
                        if-layers  = <MACLOW MACRAI>;
                        then-layer = <ADJUST>;
                };
        };

        macros {
                md_code: md_code {
                        label = "ZM_MARKDOWN_CODE_BLOCK";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp FI_GRAVE &kp FI_GRAVE &kp FI_GRAVE &kp FI_GRAVE &kp FI_GRAVE &kp FI_GRAVE>
                                ;
                };

                md_code_osx: md_code_osx {
                        label = "ZM_MARKDOWN_CODE_BLOCK_OSX";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp FI_OSX_GRAVE &kp FI_OSX_GRAVE &kp FI_OSX_GRAVE &kp FI_OSX_GRAVE &kp FI_OSX_GRAVE &kp FI_OSX_GRAVE>
                                ;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
/* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * | ESC  |   1  |   2  |   3  |   4  |   5  |                                              |   6  |   7  |   8  |   9  |   0  | PScr |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | TAB  |   Q  |   W  |   E  |   R  |   T  |                                              |   Y  |   U  |   I  |   O  |   P  |  ~   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | RAIS |   A  |   S  |   D  |   F  |   G  |                                              |   H  |   J  |   K  |   L  |   Ö  |  Ä   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  |      | Del  | PGDN  | | PGUP  | Home  |      |   N  |   M  |   ,  |   .  |   -  | SH/E |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Ctrl | Alt  | Meta | RAISE|             | RET  | SPC  | Lower | | Raise | BSPC  | DEL  |             |      |      |      |      |
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */
                        bindings = <
&kp ESC    &kp FI_N1 &kp FI_N2  &kp FI_N3  &kp FI_N4  &kp FI_N5                                                                    &kp FI_N6  &kp FI_N7  &kp FI_N8     &kp FI_N9   &kp FI_N0        &kp PSCRN
&kp TAB    &kp FI_Q  &kp FI_W   &kp FI_E   &kp FI_R   &kp FI_T                                                                     &kp FI_Y   &kp FI_U   &kp FI_I      &kp FI_O    &kp FI_P         &kp FI_TILDE
&mo RAISE  &kp FI_A  &kp FI_S   &kp FI_D   &kp FI_F   &kp FI_G                                                                     &kp FI_H   &kp FI_J   &kp FI_K      &kp FI_L    &kp FI_O_UMLAUT  &kp FI_A_UMLAUT
&kp LSHFT  &kp FI_Z  &kp FI_X   &kp FI_C   &kp FI_V   &kp FI_B              &kp DEL       &kp PG_DN  &kp PG_UP  &kp HOME           &kp FI_N   &kp FI_M   &kp FI_COMMA  &kp FI_DOT  &kp FI_MINUS     &kp RSHFT
&kp LCTRL  &kp LALT  &kp LMETA  &mo RAISE                        &kp ENTER  &kp FI_SPACE  &mo LOWER  &mo RAISE  &kp BSPC  &kp DEL                        &none         &none       &none            &none
                        >;
                };

                lower_layer {
/*
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |   §  |   @  |   ´  |   €  |   $  |   &  |                                              |   `  |   %  |   /  |   *  |   -  | DEL  |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |   !  |   "  |   ?  |   (  |   )  |                                              |   '  |   7  |   8  |   9  |   +  | INS  |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |   #  |   '  |   \  |   [  |   ]  |                                              |   "  |   4  |   5  |   6  |   -  | PGUP |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |   <  |   >  |   |  |   {  |   }  |      |  Cut |  Copy | |  Cut  | Paste |      |  ``` |   1  |   2  |   3  |   =  | PGDW |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |      |   ¨  |   ^  |             |      |      | Lower | | Raise |       |      |             |   0  |   ,  |  RET |      |
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */
                        bindings = <
&kp FI_SECT  &kp FI_AT     &kp FI_ACUTE   &kp FI_EURO   &kp FI_DOLLAR  &kp FI_AMPS                                                                  &kp FI_GRAVE  &kp FI_PRCNT  &kp FI_SLASH  &kp FI_STAR  &kp FI_MINUS  &kp DEL
&trans       &kp FI_EXCL   &kp FI_DQT     &kp FI_QMARK  &kp FI_LPAR    &kp FI_RPAR                                                                  &kp FI_SQT    &kp FI_N7     &kp FI_N8     &kp FI_N9    &kp FI_PLUS   &kp INS
&trans       &kp FI_HASH   &kp FI_SQT     &kp FI_BSLH   &kp FI_LBKT    &kp FI_RBRC                                                                  &kp FI_DQT    &kp FI_N4     &kp FI_N5     &kp FI_N6    &kp FI_MINUS  &kp PG_UP
&none        &kp FI_LT     &kp FI_GT      &kp FI_PIPE   &kp FI_LBRC    &kp FI_RBKT             &kp LC(X)  &kp LC(C)  &kp LC(X)  &kp LC(V)           &md_code      &kp FI_N1     &kp FI_N2     &kp FI_N3    &kp FI_EQUAL  &kp PG_DN
&trans       &trans        &kp FI_UMLAUT  &kp FI_CARET                                 &trans  &trans     &trans     &trans     &trans     &trans                               &kp FI_N0     &kp FI_COMMA &kp ENTER     &trans
                        >;
                };

                raise_layer {
/* 
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |   ½  |      |      |      |      |      |                                              |      |      |      |      |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |  F1  |  F2  |  F3  |  F4  |      |                                              | PGUP |  UP  | PGDW | INS  |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |  F5  |  F6  |  F7  |  F8  |      |                                              | LEFT | DOWN | RGHT | DEL  |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |  F9  |  F10 |  F11 |  F12 |      |      |      |       | |       |       |      |      |      |      |      |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |      |      |      |             |      |      |       | |       |       |      |             |      |      |      |      |
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */
                        bindings = <
&kp FI_ONE_HALF  &none    &none    &none     &none    &none                                                  &none      &none     &none      &none      &none   &none 
&none            &kp F1   &kp F2   &kp  F3   &kp F4   &none                                                  &kp PG_UP  &kp UP    &kp PG_DN  &kp INS    &none   &none 
&none            &kp F5   &kp F6   &kp  F7   &kp F8   &none                                                  &kp LEFT   &kp DOWN  &kp RIGHT  &kp DEL    &none   &none 
&none            &kp F9   &kp F10  &kp  F11  &kp F12  &none          &trans  &trans  &trans  &trans          &none      &none     &none      &none      &none   &none 
&trans           &trans   &trans   &trans                    &trans  &trans  &trans  &trans  &trans  &trans                       &trans     &trans     &trans  &trans
                        >;
                };

                adjust_layer {
/* 
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |  BT1 | BT2  | BT3  |  BT4 |  BT5 |  BT6 |                                              |  BT1 | BT2  | BT3  |  BT4 |  BT5 |  BT6 |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |                                              |      |      |      |      |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |      |      |      |      | GAME |                                              |      |      |      |      |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |      |      |      |      | MAC  |      |      |       | |       |       |      |      |      |      |      |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |BT_CLR|      |      |      |             |      |      | Lower | | Raise |       |      |             |      |      |      |BT_CLR|
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */
                        bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5                                                                     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5
&none         &none         &none         &none         &none         &none                                                                            &none         &none         &none         &none         &none         &none
&none         &none         &none         &none         &none         &tog MAC                                                                         &none         &none         &none         &none         &none         &none
&none         &none         &none         &none         &none         &tog MAC                  &none       &none         &none       &none            &none         &none         &none         &none         &none         &none
&bt BT_CLR    &none         &none         &none                                       &none     &none       &trans        &trans      &none     &none                              &none         &none         &none         &bt BT_CLR
                        >;
                };

                mac_layer {
/* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * | ESC  |   1  |   2  |   3  |   4  |   5  |                                              |   6  |   7  |   8  |   9  |   0  | PScr |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | TAB  |   Q  |   W  |   E  |   R  |   T  |                                              |   Y  |   U  |   I  |   O  |   P  |  ~   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | RAIS |   A  |   S  |   D  |   F  |   G  |                                              |   H  |   J  |   K  |   L  |   Ö  |  Ä   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  |      | Del  | Insrt | | Home  | End   |      |   N  |   M  |   ,  |   .  |   -  | SH/E |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Ctrl | Alt  | Meta | RAISE|             | RET  | SPC  | Lower | | Raise | BSPC  | DEL  |             |      |      |      |      |
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */
                        bindings = <
&kp ESC     &kp FI_OSX_N1 &kp FI_OSX_N2  &kp FI_OSX_N3  &kp FI_OSX_N4  &kp FI_OSX_N5                                                                          &kp FI_OSX_N6  &kp FI_OSX_N7  &kp FI_OSX_N8     &kp FI_OSX_N9   &kp FI_OSX_N0        &kp PSCRN
&kp TAB     &kp FI_OSX_Q  &kp FI_OSX_W   &kp FI_OSX_E   &kp FI_OSX_R   &kp FI_OSX_T                                                                           &kp FI_OSX_Y   &kp FI_OSX_U   &kp FI_OSX_I      &kp FI_OSX_O    &kp FI_OSX_P         &kp FI_OSX_TILDE
&mo MACRAI  &kp FI_OSX_A  &kp FI_OSX_S   &kp FI_OSX_D   &kp FI_OSX_F   &kp FI_OSX_G                                                                           &kp FI_OSX_H   &kp FI_OSX_J   &kp FI_OSX_K      &kp FI_OSX_L    &kp FI_OSX_O_UMLAUT  &kp FI_OSX_A_UMLAUT
&kp LSHFT   &kp FI_OSX_Z  &kp FI_OSX_X   &kp FI_OSX_C   &kp FI_OSX_V   &kp FI_OSX_B              &kp DEL           &kp INS     &kp HOME    &kp END            &kp FI_OSX_N   &kp FI_OSX_M   &kp FI_OSX_COMMA  &kp FI_OSX_DOT  &kp FI_OSX_MINUS     &mt RSHFT ENTER
&kp LCTRL   &kp LALT      &kp LMETA      &mo MACRAI                                   &kp ENTER  &kp FI_OSX_SPACE  &mo MACLOW  &mo MACRAI  &kp BSPC  &kp DEL                                &none             &none           &none                &none
                        >;
                };

                maclow_layer {
/*
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |   §  |   @  |   ´  |   €  |   $  |   &  |                                              |   `  |   %  |   /  |   *  |   -  | DEL  |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | TAB  |   !  |   "  |   ?  |   (  |   )  |                                              |   '  |   7  |   8  |   9  |   +  | INS  |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |   #  |   '  |   \  |   [  |   ]  |                                              |   "  |   4  |   5  |   6  |   -  | PGUP |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Shift|   <  |   >  |   |  |   {  |   }  |      |  Cut |  Copy | |  Cut  | Paste |      |  ``` |   1  |   2  |   3  |   =  | PGDW |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Ctrl | Alt  | HOME |  END |             |      |      | Lower | | Raise |       |      |             |   0  |   ,  |  RET |      |
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */
                        bindings = <
&kp FI_OSX_SECT   &kp FI_OSX_AT    &kp FI_OSX_ACUTE   &kp FI_OSX_EURO   &kp FI_OSX_DOLLAR  &kp FI_OSX_AMPS                                                                  &kp FI_OSX_GRAVE  &kp FI_OSX_PRCNT  &kp FI_OSX_SLASH  &kp FI_OSX_STAR  &kp FI_OSX_MINUS  &kp DEL
&kp TAB           &kp FI_OSX_EXCL  &kp FI_OSX_DQT     &kp FI_OSX_QMARK  &kp FI_OSX_LPAR    &kp FI_OSX_RPAR                                                                  &kp FI_OSX_SQT    &kp FI_OSX_N7     &kp FI_OSX_N8     &kp FI_OSX_N9    &kp FI_OSX_PLUS   &kp INS
&trans            &kp FI_OSX_HASH  &kp FI_OSX_SQT     &kp FI_OSX_BSLH   &kp FI_OSX_LBRC    &kp FI_OSX_RBKT                                                                  &kp FI_OSX_DQT    &kp FI_OSX_N4     &kp FI_OSX_N5     &kp FI_OSX_N6    &kp FI_OSX_MINUS  &kp PG_UP
&kp LSHFT         &kp FI_OSX_LT    &kp FI_OSX_GT      &kp FI_OSX_PIPE   &kp FI_OSX_LBKT    &kp FI_OSX_RBRC             &kp LG(X)  &kp LG(C)  &kp LG(X)  &kp LG(V)           &md_code_osx      &kp FI_OSX_N1     &kp FI_OSX_N2     &kp FI_OSX_N3    &kp FI_OSX_EQUAL  &kp PG_DN
&kp LCTRL         &kp LALT         &kp HOME           &kp END                                                  &trans  &trans     &trans     &trans     &trans     &trans                                       &kp FI_OSX_N0     &kp FI_OSX_COMMA &kp ENTER         &trans
                        >;
                };

                macrai_layer {
/* 
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |      |      |      |      |      |      |                                              |      |      |      |      |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |  F1  |  F2  |  F3  |  F4  |      |                                              | PGUP |  UP  | PGDW | INS  |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |  F5  |  F6  |  F7  |  F8  |      |                                              | LEFT | DOWN | RGHT | DEL  |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |  F9  |  F10 |  F11 |  F12 |      |      |      |       | |       |       |      |      |      |      |      |      |      |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * |      |      |      |      |             |      |      |       | |       |       |      |             |      |      |      |      |
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */
                        bindings = <
&none   &none    &none    &none     &none    &none                                                  &none      &none     &none      &none      &none   &none
&none   &kp F1   &kp F2   &kp  F3   &kp F4   &none                                                  &kp PG_UP  &kp UP    &kp PG_DN  &kp INS    &none   &none
&none   &kp F5   &kp F6   &kp  F7   &kp F8   &none                                                  &kp LEFT   &kp DOWN  &kp RIGHT  &kp DEL    &none   &none
&none   &kp F9   &kp F10  &kp  F11  &kp F12  &none          &trans  &trans  &trans  &trans          &none      &none     &none      &none      &none   &none
&trans  &trans   &trans   &trans                    &trans  &trans  &trans  &trans  &trans  &trans                       &trans     &trans     &trans  &trans
                        >;
                };



/* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |                                              |   6  |   7  |   8  |   9  |   0  | PScr |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |                                              |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  |                                              |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  |      | Del  | PGDN  | | PGUP  | Home  |      |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Ctrl | Alt  | Meta | Alt  |             | Meta | Space| Lower | | Raise | Enter | RAlt |             | LEFT | DOWN | UP   | RIGHT|
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */
                /*hyper_layer {

                        bindings = <
&trans        &trans     &trans      &trans      &trans      &trans                                                                         &trans   &trans     &trans      &trans     &trans        &none
&trans        &trans     &kp HYPR(W) &trans      &trans      &trans                                                                         &trans   &trans     &trans      &trans     &trans        &none
&trans        &trans     &trans      &trans      &kp HYPR(F) &trans                                                                         &kp LEFT &kp DOWN   &kp UP      &kp RIGHT  &trans        &none
&trans        &trans     &trans      &trans      &trans      &trans             &trans      &trans        &trans      &trans                &trans   &trans     &trans      &trans     &trans        &none
&trans        &trans     &trans      &trans                           &trans    &kp HYPR(SPACE)       &trans        &trans      &trans    &trans                          &trans      &trans     &trans        &none
                        >;
                };

                game_layer {
                        bindings = <
&kp  GRAVE    &kp  N1    &kp  N2     &kp  N3     &kp  N4    &kp  N5                                                                        &kp  N6  &kp  N7    &kp  N8     &kp  N9    &kp  N0       &kp  PSCRN
&kp  TAB      &kp  Q     &kp  W      &kp  E      &kp  R     &kp  T                                                                         &kp  Y   &kp  U     &kp  I      &kp  O     &kp  P        &kp  BSLH
&kp  ESC      &kp  A     &kp  S      &kp  D      &kp  F     &kp  G                                                                         &kp  H   &kp  J     &kp  K      &kp  L     &kp  SEMI     &kp  SQT
&kp  LSHFT    &kp  Z     &kp  X      &kp  C      &kp  V     &kp  B             &kp  DEL    &kp  PG_DN    &kp  PG_UP  &kp  HOME             &kp  N   &kp  M     &kp  COMMA  &kp  DOT   &kp  SLASH    &kp  ENTER
&kp  LCTRL    &kp LALT   &kp  LMETA  &kp  LALT                       &kp LMETA &kp  SPACE  &mo  LOWER    &mo  RAISE  &kp  BSPC &kp  RALT                       &kp  LEFT   &kp  DOWN  &kp  UP       &kp  RIGHT
                        >;
                };*/
        };
};
